/* Input form field by multiple */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-color: rgba(250, 175, 50, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(250, 175, 50, 0.6);
    outline: 0 none;
}

/* Independent Element Styling */
#fGroup1 {
    margin-top: 50px;
}

#lCont1 {
    margin-top: 140px;
    max-width: 600px
}

.btn {
    width: 180px;
}

#card1 {
    margin-top: 50px;
    }
    
#div1 {
    background-color: blue;
    height: 400px;
    }

#logoNav {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#logoNav:hover {
    cursor: pointer;
    width: 320px;
}

#test01 {
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
    max-width: 1400px;
    height: 80px;
    background-color: lightgray;
    border-style: solid;
    border-color: orange;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 4px gold;
}

#test02 {
    float: left;
    background-color: blue; 
}

#test04 {
    float: right;
    background-color: green;
}

/* Independent Element Hover Styling*/

#fGroup1:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;
}

#lGroup1:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;
}

#eGroup1:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;
}

#pGroup1:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;}
#phGroup1:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;}

#oGroup1:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;
}

.btn:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;
}

/* Merge this to Dev - Good to Go! */