/* Independent Element Styling */
a:hover {
    box-shadow: 0px 0px 100px 5px gold;
}

#navbar1 {
    background-color: green;
    max-width: 500px;
}

#fGroup1 {
    margin-top: 50px;
}

#lCont1 {
    margin-top: 30px;
    width: 300px;
}

#headLogin1 {
    margin-top: 80px;
    text-shadow: 0px 0px 15px gold;
}

#logoNav {
    background-color: rgb(255, 190, 90);
    width: 220px;
    border-radius: 10px;
    padding: 5px;
}

.btn {
    width: 120px;
}

#card1 {
    margin-top: 50px;
    }
    
#div1 {
    background-color: blue;
    height: 400px;
    }

#ulNav1 {
    display: flexbox;
    justify-content: center;
}

#navCont1 {
    max-width: 1420px;
}

/* Independent Element Hover Styling*/

#fGroup1:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;
}

#lGroup1:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;
}

#eGroup1:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;
}

#pGroup1:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;}
#phGroup1:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;}

#oGroup1:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;
}

.btn:hover {
    box-shadow: 0px 0px 5px darkorange, 0px 0px 50px gold;
    border-radius: 5px;
}

#logoNav:hover {
    cursor: pointer;
    width: 230px;
    box-shadow: 0px 0px 100px 5px gold;
}